<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset">
<title> login </title>
<link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body>
	  <div class="signin">
	  		<form method="POST" action="/login">
	  			<h2 style="color: white"> Log In </h2>
	  			<input type="text" name="email" placeholder="Email">
	  			<input type="password" name="pass" placeholder="password"><br><br>
	  			<input type="submit" value="Log In"><br><br>
	  			<div id="container">
	  				<a href="re.html" style="margin-right: 0px; font-size: 13px; font-family: Tohoma,Geneva,sans-serif;"> Reset password </a><br><br><br><br>
	  				Don't have account?<br> <a href="/signup">&nbsp;Sign Up</a>

	  			</div>
	  			
	  		</form>
	  </div>
</body>
</html>